.btnConnect {
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #0047ff;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 13px;
  height: auto;
}
