@import 'variables';
@import 'breakpoint';

@mixin fullWidth {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

@mixin linesLimit($maxLine) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $maxLine;
  line-clamp: $maxLine;
  -webkit-box-orient: vertical;
}

@mixin layout() {
  max-width: 1440px;
  padding-left: 135px;
  padding-right: 135px;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  @include media-breakpoint-down(xl) {
    padding-left: 64px;
    padding-right: 64px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @include media-breakpoint-down(md) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@mixin btnCloseModal() {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background: #0f3460;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  top: 10px;
  right: 20px;
  &:hover {
    background-color: #347ee3;
  }
}
