.inputPassword.customInput {
  padding: 15.5px 17px;
  border: none;
  border-radius: 10px;
  background: #292929;

  input {
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: normal;
    background-color: transparent;
    &::placeholder {
      color: #fff;
    }
  }
  :global {
    .ant-input-suffix {
      path {
        fill: #fff;
      }
    }
    .ant-input-prefix + input {
      padding-left: 12px;
      background: #292929;
      color: #fff;
      &::placeholder {
        color: #fff;
      }
    }
  }
}
